[user]
    email=massimo@typish.io
	name=Massimo Redaelli
     
[core]
    pager = delta
    excludesfile = ~/.gitignore_global

[interactive]
  diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    plus-style="syntax #012800" 
    minus-style="normal #340001"

[diff]
  colorMoved = default

[merge]
    tool = nfugitive
    conflictstyle = diff3

[mergetool "nvimdiff4"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
    trustExitCode = true

[mergetool "nfugitive"]
    cmd = nvim -f -c "Gvdiffsplit" "$MERGED"
    trustExitCode = true

[color]
	ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = yellow
    changed = green
    untracked = red

[status]
	submodulesummary = 1

[includeIf "gitdir:~/src/lari/"]
	path = src/lari/lari.gitconfig

[sendemail]
	smtpserver = smtp.fastmail.com
	smtpuser = massimo@typish.io
	smtpencryption = tls
	smtpserverport = 587

[credential]
    helper = libsecret

[commit]
	verbose = true

[url "https://github.com/"]
    insteadOf = gh:
[url "https://gist.github.com/"]
    insteadOf = gist:
[url "https://bitbucket.org/"]
    insteadOf = bb:
[diff]
	submodule = log


[submodule]
	recurse = 1
[push]
	recurseSubmodules = on-demand
[pull]
	rebase = true
[rebase]
	autoStash = true

[alias]
    # https://blog.jez.io/cli-code-review/
    files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")
    stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
    review = !nvim -p $(git files) +\"tabdo Gvdiffsplit $REVIEW_BASE | wincmd h | Gitsigns change_base $REVIEW_BASE\"
    reviewone = !nvim +\"Gvdiffsplit $REVIEW_BASE | wincmd h | Gitsigns change_base $REVIEW_BASE\"
