# https://wiki.archlinux.org/index.php/Readline
set editing-mode vi
set show-mode-in-prompt on
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif
set keymap vi
# same as in fish
"\C-w": unix-filename-rubout
