[user]
    email=massimo@typish.io
	name=Massimo Redaelli
[core]
    pager = delta --dark --plus-color="#012800" --minus-color="#340001"
[color]
	ui = true
[includeIf "gitdir:~/src/lari/"]
	path = src/lari/lari.gitconfig
[sendemail]
	smtpserver = smtp.fastmail.com
	smtpuser = massimo@typish.io
	smtpencryption = tls
	smtpserverport = 587
[credential]
    helper = libsecret
