[user]
    email=massimo@typish.io
	name=Massimo Redaelli
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[includeIf "gitdir:~/src/lari/"]
	path = src/lari/lari.gitconfig
[sendemail]
	smtpserver = smtp.fastmail.com
	smtpuser = massimo@typish.io
	smtpencryption = tls
	smtpserverport = 587
[credential]
    helper = libsecret
